   body {
       font-family: 'Arial', sans-serif;
       margin: 0;
       padding: 0;
       background-color: #f5f5f5;
   }

   .container {
       width: 100%;
       max-width: 700px;
       height: auto;
       margin: 20px auto;
       padding: 20px;
       background-color: #fff;
       box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
       border-radius: 8px;
   }

   h1 {
       text-align: center;
       color: #333;
   }

   .form-container {
       margin-top: 20px;
   }

   .form-container input {
       width: 100%;
       padding: 10px;
       margin: 10px 0;
       border: 1px solid #ccc;
       border-radius: 4px;
   }

   .form-container button {
       width: 100%;
       padding: 10px;
       background-color: #4CAF50;
       color: white;
       border: none;
       border-radius: 4px;
       cursor: pointer;
       font-size: 16px;
   }

   .form-container button:hover {
       background-color: #45a049;
   }

   #message {
       display: none;
       font-weight: bold;
       padding: 10px;
       margin-bottom: 20px;
       background-color: yellow;
       color: black;
       border-radius: 4px;
   }

   #account-actions {
       display: none;
   }

   #account-actions p,
   #account-actions div {
       margin: 10px 0;
   }

   #account-actions button {
       background-color: #f3ea3b;
   }

   #account-actions button:hover {
       background-color: #ffffff;
       cursor: pointer;
   }